<ion-header>
  <ion-toolbar color="warning">
    <ion-title text-center>Manu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<img class="logo" src="assets/icon/logo_ucu.png" alt="">

<br>
<ion-button color="gold" (click)="onSubmitLogin()" expand="block"> Activacion </ion-button>
<br>
<ion-button color="gold" (click)="onSubmitPlaneshistorial()" expand="block"> Historial </ion-button>
<br>
<ion-button color="gold" (click)="onSubmitLogin()" expand="block"> Noticias </ion-button>
<br>
<ion-button color="gold" (click)="onSubmitLogin()" expand="block"> Solicitudes </ion-button>
<br>
<ion-button color="gold" (click)="onSubmitLogout()" expand="block"> Salir </ion-button>

</ion-content>